body {
  background-color: #000;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center; 
}
.flower {
  height: 200px;
  width: 200px;
  margin: 20px auto;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  background-color: #000; 

 
  animation: pulsate 2s infinite;
}

.text-above,
.text-below {
    position: absolute;
    text-align: center;
    top: 120%;
    color: #fff; 
    font-size: 25px; 
}

.text-above {
    top: -60px;
}

.text-below {
    bottom: -60px; 
}
@keyframes pulsate {
  0% {
      transform: scale(1.5);
  }
  50% {
      transform: scale(1.6);
  }
  100% {
      transform: scale(1.5);
  }
}
  .mid {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    
    background: radial-gradient(circle, #000, #ff5e00, #000);
  
    z-index: 4;
  
    background-size: 5px 5px;
  
    filter: drop-shadow(0 0 8px #682600);
  }
  
  .Petal1 {
    position: absolute;
    left: 40px;
    z-index: 3;
  
    width: 120px;
    height: 30px;
    border-radius: 50%;
  
    background: radial-gradient(circle, #ff5e00, #ffbb00);
  
    filter: drop-shadow(0 0 5px #e05200);
  }
  
  .Petal1.p1 {
    transform: rotate(22.5deg);
  }
  .Petal1.p2 {
    transform: rotate(67.5deg);
  }
  .Petal1.p3 {
    transform: rotate(110.5deg);
  }
  .Petal1.p4 {
    transform: rotate(157.5deg);
  }
  
  .Petal2 {
    position: absolute;
    left: 0;
    z-index: 2;
  
    width: 200px;
    height: 40px;
    border-radius: 50%;
  
    background: radial-gradient(circle, #ff5e00, #fbd702);
  
    filter: drop-shadow(0 0 5px #e05200);
  }
  
  .Petal2.p1 {
  }
  
  .Petal2.p2 {
    transform: rotate(90deg);
  }
  .Petal2.p3 {
    transform: rotate(45deg);
  }
  
  .Petal2.p4 {
    transform: rotate(135deg);
  }
  
  .Petal3 {
    position: absolute;
    left: 0px;
    z-index: 1;
  
    width: 200px;
    height: 40px;
    border-radius: 50%;
  
    background: radial-gradient(circle, #ff5e00, #fbd702);
  
    filter: drop-shadow(0 0 2px #fbd702);
  }
  
  .Petal3.p1 {
    transform: rotate(22.5deg);
  }
  .Petal3.p2 {
    transform: rotate(67.5deg);
  }
  .Petal3.p3 {
    transform: rotate(110.5deg);
  }
  .Petal3.p4 {
    transform: rotate(157.5deg);
  }

  /*Corazon rojo*/
  .Corojo{
    width: 50px;
    height: 50px;
    transform: rotate(45deg);
    background: red;
  }
  .Corojo:before,
.Corojo:after {
  z-index: 3;
  content: "";
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: red;
}
.Corojo {
  z-index: 3;
  width: 50px;
  height: 50px;
  transform: rotate(45deg);
  background: red;
  position: relative;
  top: 10rem;
  left: 10rem;
}
.Corojo:before,
.Corojo:after {
  z-index: 3;
  content: "";
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: red;
  position: absolute;
}

.Corojo:before {
  top: 0;
  z-index: 3;
  left: -25px;
}

.Corojo:after {
  z-index: 3;
  top: -25px;
}
.Corojo {
  z-index: 3;
  width: 50px;
  height: 50px;
  transform: rotate(45deg);
  background: red;
  position: relative;
  top: 0rem;
  left: -20rem;
  animation: beating 2s ease infinite;
}
/*Corazon morado*/
.Comorado{
  width: 50px;
  height: 50px;
  transform: rotate(45deg);
  background: purple;
}
.Comorado:before,
.Comorado:after {
z-index: 4;
content: "";
height: 50px;
width: 50px;
border-radius: 50%;
background: purple;
}
.Comorado {
z-index: 4;
width: 50px;
height: 50px;
transform: rotate(45deg);
background: purple;
position: relative;
top: 10rem;
left: 10rem;
}
.Comorado:before,
.Comorado:after {
z-index: 4;
content: "";
height: 50px;
width: 50px;
border-radius: 50%;
background: purple;
position: absolute;
}

.Comorado:before {
top: 0;
z-index: 4;
left: -25px;
}

.Comorado:after {
z-index: 4;
top: -25px;
}
.Comorado {
z-index: 4;
width: 50px;
height: 50px;
transform: rotate(45deg);
background: purple;
position: relative;
top: 0rem;
left: 20rem;
animation: beating 2s ease infinite;
}


/*Corazon azul*/
.Coazul{
  width: 50px;
  height: 50px;
  transform: rotate(45deg);
  background: skyblue;
}
.Coazul:before,
.Coazul:after {
z-index: 4;
content: "";
height: 50px;
width: 50px;
border-radius: 50%;
background: skyblue;
}
.Coazul {
z-index: 4;
width: 50px;
height: 50px;
transform: rotate(45deg);
background: skyblue;
position: relative;
top: 10rem;
left: 10rem;
}
.Coazul:before,
.Coazul:after {
z-index: 4;
content: "";
height: 50px;
width: 50px;
border-radius: 50%;
background: skyblue;
position: absolute;
}

.Coazul:before {
top: 0;
z-index: 4;
left: -25px;
}

.Coazul:after {
z-index: 4;
top: -25px;
}
.Coazul {
z-index: 4;
width: 50px;
height: 50px;
transform: rotate(45deg);
background: skyblue;
position: relative;
top: -10rem;
left: -3rem;
animation: beating 2s ease infinite;
}
